__pycache__/CurrentFunctions.cpython-37.pyc
__pycache__/DG.cpython-39.pyc
__pycache__/Functions.cpython-39.pyc
__pycache__/LineModels.cpython-39.pyc
__pycache__/LoadModels.cpython-37.pyc
__pycache__/*
